@font-face {
	font-family: "Raleway";
	font-weight: 800;
	font-display: swap;
	src: url("/fonts/raleway.ttf");
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Raleway", sans-serif;
	background-color: #101010;
	color: #ededed;
}

a {
	color: #4285f4;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
